apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "fd-portal.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "fd-portal.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}

          env:
            - name: KEYSTONE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Chart.Name }}-config
                  key: KEYSTONE_URL
            - name: USER_DOMAIN
              valueFrom:
                configMapKeyRef:
                  name: {{ .Chart.Name }}-config
                  key: USER_DOMAIN
            - name: HORIZON_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Chart.Name }}-config
                  key: HORIZON_URL
            - name: SKYLINE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ .Chart.Name }}-config
                  key: SKYLINE_URL
            - name: FLASK_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Chart.Name }}-secret
                  key: FLASK_SECRET
            - name: TLS_PEM_FILE
              value: {{ .Values.tls.pemFile | quote }}
            - name: SESSION_COOKIE_SECURE
              value: {{ .Values.sessionCookieSecure | quote }}

          readinessProbe:
            httpGet:
              scheme: HTTPS
              path: /
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.readiness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.readiness.failureThreshold }}

          livenessProbe:
            httpGet:
              scheme: HTTPS
              path: /
              port: {{ .Values.service.targetPort }}
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}
            timeoutSeconds: {{ .Values.probes.liveness.timeoutSeconds }}
            failureThreshold: {{ .Values.probes.liveness.failureThreshold }}

          volumeMounts:
            - name: tls
              mountPath: /tls
              readOnly: true

      volumes:
        - name: tls
          secret:
            secretName: {{ .Values.tls.secretName }}
